# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/
build/

# Environment
.env
.env.*

# Logs
*.log
logs/

# IDE
.idea/
.vscode/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Docker
*.override.yml
