@use "sass:list";

@mixin tr($time: 0.3, $props...)
{
	$transitions: ();
	$will-change: ();

	@each $prop in $props
	{
		$will-change: list.append($will-change, $prop, comma);
		$transitions: list.append($transitions, #{$time}s ease $prop, comma);
	}

	will-change: $will-change;
	transition: $transitions;
}

@mixin mq($from, $to: false)
{
	@if $to
	{
		@media screen and (min-width: $from) and (max-width: $to) { @content; }
	}

	@else
	{
		@media screen and (min-width: $from) { @content; }
	}
}

@mixin pr()
{
	overflow: hidden;
	padding-right: var(--scrollbar-width);
}